/* Default */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    
}

/* Navigation */

nav{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;

}

#logo{
    width: 140px;
}
#carticon{
    height: 25px;
}

.stack1{
    display: flex;
    margin-left: 80px;
}

.stack2{
    display: flex;

    margin-right: 80px;
}

/* Header */
header{
    margin-top: 10px;
    width: 100%;
    height: 500px;
    background: url(assets/kw-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-left: 80px;
}

.heros{

    color: white;

}

.heros h1{
    font-size:80px;
}
.heros h5{
    margin-top: 20px;
    font-size: 20px;
}


/* Discover Section */

.container{
    padding-left: 80px;
}

.container h3{
    margin-top: 100px;
}
/* Books */
.books{
    display: flex;
    width: 95%;
    height: 350px;
    justify-content: space-between;
}
.item{
    margin-top: 10px;
    width: 150px;
    height: 270px;
    line-height: 30px;
    
}
.item img{
    height: 200px;
}

.item p{
    color: gray;
}
.costandadd{
    display: flex;
    justify-content: space-between;

}

#cardbuttonimg{
    margin-top: 8px;
    margin-left: 4px;
    height: 15px;
}



.addbutton{
    border-radius: 5px;
    padding: 0px 5px; 
    color: white;
    display: flex;
    background-color: rgb(97, 150, 255);
    width: 60px;
}

.addbutton p{
    color: white;
}
/* Games and Handmade*/

.games{
    width: 95%;
}

.games .item{
    width: 220px;
}

/* Footer */

footer{
    padding-top: 20px;
    display: flex;
    background-color: black;
    height: 190px;
    color: white;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.fostack1{
    text-align: center;
}
.fostack1 img{
    height: 120px;
}

.fostack2{
    text-align: end;
    padding-top: 40px;
    line-height: 16px;

}

.fostack2 h4{
    padding-bottom: 20px;
}




/* Mobile Responsive */

@media (max-width:394px) {
    


    body{
        width: 393px;
}   
/* Nav */

    #logo {
        width: 90px;
}

#carticon {
    height: 40px;
}

.stack1 {
    display: flex;
    margin-left: 20px;
}

.stack2 {
    text-align: center;
    display: flex;
    width: 150px;
    margin-right: 10px;
}

/* Header */

header {
    margin-top: 10px;
    height: 300px;
    background: url(assets/kw-background.png);
    background-size: 393px 300px;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-left: 20px;
}

.heros {
    line-height: 50px;
    color: white;
    padding-right: 300px;
}

.heros h1 {
    font-size: 40px;
}

.heros h5 {
    margin-top: 20px;
    font-size: 15px;
}

/* Discover Section */


.container h3 {
    margin-top: 50px;
    font-size: 30px;
    margin-left: -30px;
}

/* Books */
.books {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: -40px;
    justify-content: space-between;
}

.item {
    margin-top: 30px;
    width: 100%;
    margin-bottom: 50px;
    height: 100%;
    line-height: 30px;
    margin-bottom: 50px;
    text-align: center;

}

.item img {
    height: 300px;
}

.item h4{
    font-size: 20px;
    font-weight: bolder;
}
.costandadd {
    display: flex;
    justify-content: space-between;

}

#cardbuttonimg {
    margin-top: 8px;
    margin-left: 4px;
    height: 15px;
}



.addbutton {
    border-radius: 5px;
    padding: 0px 5px;
    color: white;
    display: flex;
    background-color: rgb(97, 150, 255);
    width: 60px;
}


/* Games and Handmade*/

.games {
    width: 100%;
}

.games .item {
    width: 100%;
}

.games img{
    width: 99.9%;
    margin-left: -4px;
}

/* Footer */

footer {margin-top: 20px;
    padding-top: 20px;
    display: flex;
    background-color: black;
    height: 100%;
    color: white;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.fostack1 {
    text-align: center;
}

.fostack1 img {
    height: 120px;
}

.fostack2 {
    text-align: end;
    padding-top: 40px;
    line-height: 16px;

}

.fostack2 h4 {
    padding-bottom: 20px;
}


}